.pricingPlan {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  color: inherit;
  display: inline-block;
  min-width: 127px;
}
.joinToday {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.joinTodayWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  height: 40px;
  width: 100px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--white);
  display: none;
}
.monthly {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 600;
  font-family: var(--font-signika);
  color: var(--black);
  text-align: left;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-lgi) var(--padding-4xs);
  background-color: var(--white);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent:hover {
  background-color: var(--color-gainsboro-100);
}
.frameItem {
  height: 40px;
  width: 100px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--black);
  display: none;
}
.yearly {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 600;
  font-family: var(--font-signika);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-8xl) var(--padding-4xs);
  background-color: var(--black);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup:hover {
  background-color: var(--color-darkslategray);
}
.frameInner,
.frameParent {
  background-color: var(--white);
}
.frameParent {
  box-shadow: 66px 31px 20px transparent, 42px 20px 19px rgba(0, 0, 0, 0.01),
    24px 11px 16px rgba(0, 0, 0, 0.05), 11px 5px 12px rgba(0, 0, 0, 0.09),
    3px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameInner {
  width: 650px;
  height: 700px;
  position: relative;
  border-radius: var(--br-11xl);
  display: none;
  max-width: 100%;
}
.thankYou {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 4;
}
.httpslottiefilescomanimatIcon {
  height: 250px;
  width: 250px;
  position: relative;
  object-fit: cover;
  z-index: 4;
}
.testimonialAnimation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl);
}
.testimonialContent,
.testimonialQuote {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.testimonialQuote {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.testimonialContent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.backToHome {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-signika);
  color: var(--white);
  text-align: center;
}
.backToHomeWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-xl);
  background-color: var(--grey);
  align-self: stretch;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 4;
}
.backToHomeWrapper:hover {
  background-color: var(--color-dimgray-100);
}
.rectangleContainer {
  width: 650px;
  margin: 0 !important;
  position: absolute;
  bottom: -570px;
  left: 387px;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-57xl) var(--padding-3xl) var(--padding-4xl);
  box-sizing: border-box;
  gap: var(--gap-149xl);
  max-width: 100%;
  z-index: 3;
}
.planOptions {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-44xl);
  color: var(--color-gray-1900);
}
.planOptions,
.pricingPlan3Inner,
.pricingPlanParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.pricingPlanParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.pricingPlan3Inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-36xl) var(--padding-3xs) var(--padding-44xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-2200);
  font-family: var(--font-signika);
}
@media screen and (max-width: 900px) {
  .joinToday,
  .thankYou {
    font-size: var(--font-size-31xl);
  }
  .pricingPlan3Inner {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .planOptions {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .pricingPlan {
    font-size: var(--font-size-lgi);
  }
  .joinToday,
  .thankYou {
    font-size: var(--font-size-19xl);
  }
  .backToHome {
    font-size: var(--font-size-xl);
  }
}
