@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-signika: Signika;
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-44xl: 63px;
  --font-size-19xl: 38px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-xl: 20px;
  --font-size-8xl: 27px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;
  --font-size-15xl: 34px;
  --font-size-6xl: 25px;
  --font-size-sm: 14px;
  --font-size-17xl: 36px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-6xs: 7px;
  --font-size-5xs: 8px;
  --font-size-xs-5: 11.5px;

  /* Colors */
  --white: #fff;
  --color-gray-100: #828282;
  --grey: #1f1f1f;
  --color: #0d0b0b;
  --color-gray-200: rgba(0, 0, 0, 0.07);
  --color-gray-300: rgba(0, 0, 0, 0.2);
  --color-gray-400: rgba(0, 0, 0, 0.64);
  --color-gray-500: rgba(31, 31, 31, 0.7);
  --color-gray-600: rgba(0, 0, 0, 0.3);
  --color-gray-700: rgba(31, 31, 31, 0.07);
  --color-gray-800: rgba(13, 11, 11, 0.6);
  --color-gray-900: rgba(31, 31, 31, 0.9);
  --color-gray-1000: rgba(31, 31, 31, 0.4);
  --color-gray-1100: rgba(255, 255, 255, 0.8);
  --color-gray-1200: rgba(0, 0, 0, 0.04);
  --color-gray-1300: rgba(255, 255, 255, 0.7);
  --color-gray-1400: rgba(255, 255, 255, 0.5);
  --color-gray-1500: rgba(255, 255, 255, 0.6);
  --color-gray-1600: rgba(0, 0, 0, 0.7);
  --color-gray-1700: rgba(0, 0, 0, 0.5);
  --color-gray-1800: rgba(0, 0, 0, 0.6);
  --color-gray-1900: rgba(0, 0, 0, 0.9);
  --color-gray-2000: rgba(0, 0, 0, 0.8);
  --color-gray-2100: rgba(255, 255, 255, 0.9);
  --color-gray-2200: rgba(0, 0, 0, 0.4);
  --color-gray-2300: rgba(0, 0, 0, 0.43);
  --black: #000;
  --color-dimgray-100: #525252;
  --color-dimgray-200: rgba(82, 82, 82, 0.07);
  --color-maroon: #6c0d0d;
  --color-indianred-100: #a34242;
  --color-indianred-200: #a14040;
  --color-brown-100: #b33939;
  --color-brown-200: #7c1d1d;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e0e0e0;
  --color-darkslategray: #333;
  --color-firebrick: rgba(187, 25, 25, 0.9);

  /* Gaps */
  --gap-5xl: 24px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-mini: 15px;
  --gap-lg: 18px;
  --gap-smi: 13px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-74xl: 93px;
  --gap-4xl: 23px;
  --gap-27xl: 46px;
  --gap-21xl: 40px;
  --gap-8xs: 5px;
  --gap-3xl: 22px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-18xl: 37px;
  --gap-xs: 12px;
  --gap-81xl: 100px;
  --gap-71xl: 90px;
  --gap-26xl: 45px;
  --gap-68xl: 87px;
  --gap-24xl: 43px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-9xs: 4px;
  --gap-54xl-5: 73.5px;
  --gap-smi-5: 12.5px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-33xl: 52px;
  --gap-23xl: 42px;
  --gap-xl-5: 20.5px;
  --gap-3xs-5: 9.5px;
  --gap-lg-5: 18.5px;
  --gap-12xl: 31px;
  --gap-mid: 17px;
  --gap-149xl: 168px;
  --gap-base-5: 16.5px;
  --gap-base-3: 16.3px;

  /* Paddings */
  --padding-lgi: 19px;
  --padding-44xl: 63px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-62xl: 81px;
  --padding-35xl: 54px;
  --padding-171xl: 190px;
  --padding-34xl: 53px;
  --padding-104xl: 123px;
  --padding-15xl: 34px;
  --padding-61xl: 80px;
  --padding-8xl: 27px;
  --padding-40xl: 59px;
  --padding-3xl: 22px;
  --padding-9xl: 28px;
  --padding-6xl: 25px;
  --padding-mid: 17px;
  --padding-5xl: 24px;
  --padding-2xl: 21px;
  --padding-2xs-3: 10.3px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-36xl: 55px;
  --padding-42xl: 61px;
  --padding-10xl: 29px;
  --padding-lg: 18px;
  --padding-7xs: 6px;
  --padding-13xl: 32px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
  --padding-60xl: 79px;
  --padding-37xl: 56px;
  --padding-17xl: 36px;
  --padding-20xl: 39px;
  --padding-mini: 15px;
  --padding-19xl: 38px;
  --padding-114xl: 133px;
  --padding-22xl: 41px;
  --padding-67xl: 86px;
  --padding-82xl: 101px;
  --padding-43xl: 62px;
  --padding-47xl: 66px;
  --padding-10xs: 3px;
  --padding-53xl: 72px;
  --padding-24xl: 43px;
  --padding-16xl: 35px;
  --padding-45xl: 64px;
  --padding-base: 16px;
  --padding-56xl: 75px;
  --padding-4xl: 23px;
  --padding-8xs: 5px;
  --padding-39xl: 58px;
  --padding-25xl: 44px;
  --padding-58xl: 77px;
  --padding-57xl: 76px;
  --padding-50xl: 69px;
  --padding-5xs: 8px;
  --padding-9xs-5: 3.5px;
  --padding-2xs: 11px;
  --padding-6xs-5: 6.5px;
  --padding-11xs: 2px;
  --padding-31xl: 50px;
  --padding-27xl: 46px;
  --padding-12xs: 1px;
  --padding-21xl: 40px;
  --padding-6xs: 7px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-mini: 15px;
  --br-xl: 20px;
  --br-16xl-4: 35.4px;
  --br-19xl: 38px;
  --br-81xl: 100px;
  --br-5xs: 8px;
  --br-7xs: 6px;
}
